
.Link{
    color: white;
    font-size: 24px;
}
  

.navbar{
    
    display: flex;
    padding: 1rem;
    justify-content: space-around;
    align-items: center;
    background-color: black
}


@media(max-width:700px){


    .navbar_elements{
        margin: auto;
        text-align: center;
        padding: 15px ;
        width: 70%;
        /* z-index: 22; */
      }
      
      .navbar_elements:hover{
          background-color:rgb(73, 73, 75) ;
      }
    
    
.navbar{
        display: block;
        /* height: 30vh; */
        padding: 1rem;
        background-color: black
}
  .Link{
    color: white;
    font-size: 17px;
  }
}