





.movie-container{
    padding: 1rem;
    display: flex;
    /* justify-content: space-around; */
    /* max-height: 80vh; */

    /* align-items: center; */
}

.poster img{
   max-height: 75vh;
    border: 5px solid black;
    /* max-width: 700px; */
  /* box-shadow: 5px 10px black; */
}



.movie-data{
    flex: 1;
    display: flex;
    flex-direction: column;
    /* padding: 3rem; */
    justify-content: space-between;
   
}

.movie-data p{
    /* margin: auto; */
    text-align: center;
    /* width: 80%; */
    padding: 0 50px;
    font-size: 23px;
    /* margin-top: 5px; */
    /* margin-bottom: 35px; */
    line-height: 1.3;
}