


 
.redColor{
  color: red;
}

.lower-movie-content{
    display: flex;
    padding: 20px;
    justify-content: space-around;
    align-items: center;
  }
  
  .lower-movie-content h4,
  .lower-movie-content h4 a{
    padding: 0 20px;
    color: white;
    font-size: 35px;
  }




.movie-container{
    padding: 1rem;
    display: flex;
}

.poster img{
    max-height: 75vh;
    border: 5px solid black;
  
}



.movie-data{
    flex: 1;
    display: flex;
    flex-direction: column;
    /* padding: 3rem; */
    justify-content: space-between;
   
}

.movie-data p{
    text-align: center;
    padding: 0 50px;
    font-size: 23px;
    line-height: 1.3;
}

#VideoSize{
    height:410px;
    width:900px;
}

@media(max-width:700px){

    .movie-container{
        display: block;
        padding: 0
    }

    .movie-data p{
        margin: auto;
        font-size: 18px;
        padding: 0;
        margin-top: 15px;
        max-width: 80%;
    }

    .movie-data{
        margin: 5px 0;
        display: block;
        text-align: center;
    }

   .poster img{
            max-height: 50vh;
            /* max-width: 30vh; */
            border: solid 5px black;
   }
   #VideoSize{
       width: 250px;
       height: 200px;
   }

   .lower-movie-content{
    display: flex;
    justify-content: space-around;
  
  }
  
  .lower-movie-content h4,
  .lower-movie-content h4 a{
    font-size: 12px;
    padding: 0;
  }

 
}

@media(max-width:1200px ) and (min-width:700px){

    .movie-container{
        padding: 0;
        display: block;
    }

    #VideoSize{
        width: 550px;
        height: 400px;
    }
    
}

@media(min-width:2000px){
    .movie-data p{
        margin: auto;
        font-size: 40px;
        padding: 0;
        max-width: 80%;
    }
    #VideoSize{
        width: 1550px;
        height: 900px;
    }
    .poster img{
        height: 80vh;
        border: solid 2px black;
}
.lower-movie-content h4,
.lower-movie-content h4 a{
  font-size: 62px;
  padding: 0;
}


}  