
:root {
  --primary-color: #22254b;
  --secondary-color: #373b69;
}

*{
  margin: 0;
  padding: 0;
}
body{
  background-color: var( --primary-color) ;
  font-family: sans-serif;
  box-sizing: border-box;
 
}

h3{
  font-size: 1.1rem;
  font-weight: bold;
}

a{
  text-decoration: none;

}

.App{
  margin: auto;
}

.navbar{
  display: flex;
  padding: 1rem;
  justify-content: space-around;
  align-items: center;
  background-color: var(--secondary-color);
}

.lower-navbar{
  display: flex;
  justify-content: center;
  padding: 20px;
}


.search{
  background-color: transparent;
  border: 2px solid var(--primary-color);
 
  border-radius: 20px 0 0 20px;
  font-family:inherit;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  color: #fff;
}

.search::placeholder {
  color: #7378c5;
}

.search:focus{
  outline: none;
  background-color: var(--primary-color);
}



.poster {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.poster img{
  height: 90%;
  width: 80%;
  border: 3px solid white;
  box-shadow: 0 0 3px 3px black;
}

.movie-data{
 
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  
}

.movie-data h4 a{
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  color: white;
}

.grid{
  display: grid;
  grid-template-columns: repeat(5,1fr);
  grid-gap: 1.0rem;
  margin: auto;
  width: 95vw;
  padding: 20px;
}


.btn{
  background-color: var(--secondary-color);
  color: white;
  cursor: pointer;
  padding: 20px;
  margin: 15px;
}

.btn:hover{
  background-color:rgb(255, 247, 247);
  color:var(--primary-color);
}

.movie-container{
  display: flex;
  height: 91.8vh;
  color: white;
  position: relative;
  z-index: 1;
}


.main-container{
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  object-fit: contain;
}

.main-container .logos img{
  width: 80px;
}

.flex{
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex_around{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.lower-movie-content{
  display: flex;
  margin-top: 10px;
  justify-content: center;
  transform: translateX(100px);
}

.lower-movie-content h4,
.lower-movie-content h4 a{
  padding: 0 20px;
  color: white;
  font-size: 25px;
}

.Link{
  color: white;
  font-size: 20px;
}

.green{
  background-color: green;
}

.orange{
  background-color: orange;
}

.red{
  background-color: red;
}

.icon_size{
  width: 32px;
  border-left-color:transparent;
  background-color: transparent;
}


