
:root {
  --primary-color: #22254b;
  --secondary-color: #373b69;
}

*{
  margin: 0;
  padding: 0;
}
body{
  background-color: var( --primary-color) ;
  font-family: sans-serif;
  box-sizing: border-box;
 
}

h3{
  font-size: 1.2rem;
  font-weight: bold;
}



a{
  text-decoration: none;
  font-size: 18px;
}

/* .App{
  margin: auto;
} */

.navbar{
  display: flex;
  padding: 1rem;
  justify-content: space-around;
  align-items: center;
  background-color: var(--secondary-color);
}

.lower-navbar{
  display: flex;
  justify-content: center;
  padding: 20px;
}


.search{
  background-color: transparent;
  border: 2px solid var(--primary-color);
 
  border-radius: 50px;
  font-family:inherit;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  color: #fff;
}

.search::placeholder {
  color: #7378c5;
}

.search:focus{
  outline: none;
  background-color: var(--primary-color);
}






.grid{
  display: grid;
  grid-template-columns: repeat(5,1fr);
  grid-gap: 1.0rem;
  margin: auto;
  width: 95vw;
  padding: 20px;
}


.btn{
  background-color: var(--secondary-color);
  color: white;
  cursor: pointer;
  padding: 20px;
  margin: 15px;
  font-size: 16px;
}

.btn:hover{
  background-color:rgb(255, 247, 247);
  color:var(--primary-color);
}


.main-container{
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  object-fit: contain;

}

.main-container .logos img{
  width: 120px;
}

.flex{
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex_around{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.lower-movie-content{
  display: flex;
  /* margin-top: 10px; */
  padding: 20px;
  justify-content: center;
  /* transform: translateX(100px); */
}

.lower-movie-content h4,
.lower-movie-content h4 a{
  padding: 0 20px;
  color: white;
  font-size: 35px;
}


.navbar_elements{
  position: relative;
}

.navbar_elements img{
  position: absolute;
  right: -40px;
  bottom: 3px;
}

.Link{
  color: white;
  font-size: 24px;
}

.green{
  background-color: green;
}

.orange{
  background-color: orange;
}

.red{
  background-color: red;
}

.icon_size{
  width: 32px;
  border-left-color:transparent;
  background-color: transparent;
}


